.section4 {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
@media(max-width: 800px) {
    flex-direction: column;
}
    &__card{
        .section4img{
            position: relative;
            bottom: 290px;
            left: 15px;
        }
        .section4-2img{
            position: relative;
            bottom: 200px;
            right: 180px;
        }
    }
    &__card__wrap {
        display: flex;
        width: 456px;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        flex-shrink: 0;
    }
    &__card__wrap__title {
        color: var(--Dark-Blue, #232340);
        align-self: stretch;
        /* H1/Desktop */
        font-family: "" Lexend Deca "";
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 128% */
    }
    &__card__wrap__text {
        color: rgba(35, 35, 64, 0.9);
        align-self: stretch;
        /* Paragraph/Desktop */
        font-family: "" Lexend Deca "";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
    }
    a {
        width: 200px;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .wrap__img {
        width: 50%;
    }
   
}
