.section2 {
    margin-top: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 744px) {
        flex-direction: column;
    }

    &__card {
        background-image: url(../../img/section2.png);
        background-size: 100;
        display: flex;
        max-width: 565px;
        width: 100%;
        height: 565px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        position: relative;
        .calendar {
            position: relative;
            bottom: 210px;
            left: 120px;
        }
       
    }
    &__card__wrap {
        display: flex;
        max-width: 456px;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
        flex-shrink: 0;
    }
    &__card__wrap__title {
        color: var(--Dark-Blue, #232340);
        align-self: stretch;
        /* H1/Desktop */
        font-family: "" Lexend Deca "";
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px; /* 128% */
    }
    &__card__wrap__text {
        color: rgba(35, 35, 64, 0.9);
        align-self: stretch;
        /* Paragraph/Desktop */
        font-family: "" Lexend Deca "";
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px; /* 150% */
    }
    a {
        width: 200px;
        display: flex;
        align-items: center;
        gap: 8px;
    }
    .wrap__img {
        width: 50%;
    }
}
